{{define "view"}}
{{template "head"}}
</head>
<body>
  {{template "headmenu" .}}
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>{{.Pagedata.Title}}</h1>

    {{ .Pagedata.Body }}

    <p> Written by [<a href="/user/{{.Pagedata.CreatorURL}}">{{.Pagedata.Creator}}</a>]</p>

    <p>{{printf "%s" .Pagedata.Timestamp}}</p>
  </div>
</div>
</body>
</html>
{{end}}
